/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body {
  background-color: rgb(64, 64, 65);
  background-image: linear-gradient(rgba(0, 13, 202, 0.475), rgba(235, 235, 235, 0.763));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 0%;
    opacity: .75;
}

  /* This is for the NavBar */ 
.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
    background-color: rgb(15, 15, 15);
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    
.nav-bar li {
    float: left;
}
    
.nav-bar li a {
    display: block;
    color: rgb(252, 252, 252);
    font-size: x-large;
    font-family: 'Helvetica';
    font-weight: bold;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
  }

.nav-bar li a:hover {
    background-color: #915959;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #abbaba;
  color: #000;
  margin-top: auto;
}

.welcome-message {
  text-align: center;
  padding: 50px;
  font-size: xx-large;
}

.church-news {
  text-align: center;
  font-size: xx-large;
}

.church-events {
  text-align: center;
  font-size: xx-large;
}

.sermon-message {
  text-align: center;
  margin-top: 6%;
  font-size: xx-large;
}

.sermon-video {
  display: flex;
  justify-content: center;
}

.ministries-message {
  display: flex;
  margin: 6%;
  justify-content: center;
  font-size: xx-large;
}

.about-church{
  display: flex;
  justify-content: left;
  padding-left: 18%;
  font-size: larger;
}

.about-background {
  background-color: #ffffff;
  
}

.about-text-1 {
  font-family: 'Helvetica';
  font-size: large;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}